*{
    margin:0;
    padding:0;
}

.made{
    text-align: center;
    padding-top: 2vh;
}

.made h1{
    font-weight: 400;
}

#content{
    padding-top: 1vh;
    text-align: center;
}

header{
    width: 100%;
    padding-bottom: 3vh;
    border-bottom: 1px solid black;
}

table{
    padding-top:3vh;
    margin: auto;
    width: 100%;
}

th{
    min-width: 200px;
}

a{
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.adatok{
    border: 1px solid black;
    border-collapse: collapse;
}

.adatok tr{
    border: solid;
    border-width: 1px 0;
}

form{
    padding-top: 2vh;
    width: 20%;
    margin:auto;
    text-align: start;
}

input, select{
    margin-bottom: 1vh;
}

input[type="submit"]{
    margin-top:1vh;
    padding: 10px;
    border-radius: 3px;
    cursor:pointer;
}
